dialog {
    padding: 0;
    background-color: transparent;
    border: none;
    overflow: visible;
}

dialog .dialogContent {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 10px 15px 15px 5px black;
    display: block;
}

#newSnippetForm {
    padding: 10px;
    display: block;
}
.dialogSaveButtons {
    width: fit-content;
    height: fit-content;
    margin-inline: auto;
    margin-top: 10px;
}
dialog input[type="text"] {
    width: 100%;
}

.webSnippetList {
    list-style: none;
    padding: 0;
    margin: 5px;
}

[data-required="true"]::after {
    content: "*";
    color: red;
}

.dialogInputContainer {
    margin-top: 5px;
}

.dialogInputContainer:first-child {
    margin: 0;
}

.repoStatus .repoIsOnline[data-status="up"] {
    color: green;
}

.repoStatus .repoIsOnline[data-status="down"] {
    color: red;
}

.webSnippetList,
.webSnippetCategory {
    list-style: none;
    padding: 0;
}

.webSnippetCategory li {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    grid-auto-columns: 1fr auto;
    margin-top: 5px;
}

.repoListButton {
    right: -80%;
}

.webSnippetCategoryName {
    cursor: pointer;
    text-decoration: underline;
}

.webSnippetCategoryName::before {
    margin-right: 2px;
    line-height: -5px;
    text-decoration: none;
    display: inline-block;
    transform: translateY(0);
    font-size: 1.3em;
}

.webSnippetCategoryName[data-opened="false"]::before {
    content: "‹";
}

.webSnippetCategoryName[data-opened="true"]::before {
    content: "›";
}
.webSnippetCategoryName[data-opened="false"] + ul li {
    display: none;
}
.checkboxContainer input:checked ~ span.phMultiline {
    opacity: 100%;
}
.checkboxContainer input:not(:checked) ~ span.phMultiline {
    box-shadow: 1px 1px inset black;
}
