* {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    background-color: #252729;
    color: #fefefe;
}

#root {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr;
    width: 100vw;
}

.jscolor {
    color: #fefefe !important;
}

.jspropertycolor {
    color: #fcf !important;
}

.jsstringcolor {
    color: #3ff !important;
}

.jskeywordcolor {
    color: #3cf !important;
}

textarea {
    background-color: #3b3b3b;
    color: white;
}

input {
    background-color: #3b3b3b;
    color: white;
}

#root > div {
    border: 1px solid black;
}

#out {
    padding-inline: 25px;
}

.snippet {
    border: 1px solid black;
    padding: 15px;
    margin: 5px;
}

.snippet_name {
    font-weight: bolder;
    font-size: 2em;
}

ul#settings li:last-child {
    font-weight: normal;
    cursor: pointer;
}

.addSnippet {
    border: 1px solid white;
    width: fit-content;
    display: inline-block;
    margin-right: 5px;
    padding: 8px;
}

.addSnippetBlock {
    margin-inline: auto;
    width: fit-content;
    cursor: pointer;
    margin-block: 10px;
}
.addSnippetFlex {
    display: flex;
    align-items: center;
    height: 100%;
    margin-block: 0;
}

#copyCode {
    float: right;
}

.w3-code {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

.dialogerror {
    color: red;
    text-align: center;
}
